name: permissions_service
description: A service for managing permissions.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ^3.10.0
  flutter: ^3.38.3

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.16.0
  permission_handler: ^12.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
  very_good_analysis: ^10.0.0
